<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio Details - Personal Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static',filename='img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static',filename='img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static',filename='vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyResume - v4.7.0
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{url_for('static',filename='img/portfolio/flask.png')}}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{{url_for('static',filename='img/portfolio/楊光與木箱鼓.jpg')}}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{{url_for('static',filename='img/portfolio/木柵動物園小貓熊.jpg')}}" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>最能代表我的三件事</h3>
              <ul>
                <li><strong>Category</strong>: Learning, Hobbies, and Favorites</li>
                <li><strong>Character</strong>: 楊光</li>
                <li><strong>Presentation date</strong>: April 6 2022</li>
                <li><strong>Presentation URL</strong>: <a href="#">www.myself.com</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>我的portfolio說明</h2>
              <p>
                我正在學習(Learning)波動光學(OPTICS)、撰寫flask網站與自學打鼓相關樂理及技巧。我的嗜好(hobbies)是去參訪具歷史風情的古蹟(左，淡水紅毛城)、爬山散心(中，陽明山擎天崗)與打木箱鼓(右，我與木箱鼓)。我最喜歡的事情(favorites)是觀賞動物(左，木柵動物園小貓熊)、
                組裝模型(中，自由鋼彈)與去君悅排骨吃排骨飯(右，君悅排骨最著名的排骨)。
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static',filename='vendor/purecounter/purecounter.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/typed.js/typed.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/waypoints/noframework.waypoints.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static',filename='js/main.js')}}"></script>

</body>

</html>